.business-tile {
	transition: all 3s;
	animation: fadeIn 2s forwards;
	min-height: 100px;

	.business-photo-container {	
		.tileImage {
			width: 160px;
			border-radius: 15px;
			height: 100%;
		}
	}

	.business-info {
		align-items: flex-start;
		text-align: start;
		width: 100%;
		min-height: 20px;
	
		.business-name {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 150px;
			display: block;
			font-size: 16px;
	
		}
	
		.business-category {
			font-size: .80rem;
			color: grey;
			margin-bottom: 15px;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}
