#navBarContainer {
	position: fixed;
	top: 0px;
	padding: 10px 5px;
	background-color: white;
	z-index: 2;
	width: 100%;


	#NavBar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 92%;
		margin: auto;

	}

	img {
		height: 43px;
	}
	
	.profile-picture {
		border-radius: 100%;
	}

}


