
#bottom-navbar {
	position: fixed;
	bottom: 20px;
	width: 100%;

	.button-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		height: 70px;
		width: 90%;
		border-radius: 500px;
		height: 53px;
		background-color: white;
		margin: auto;
		box-shadow: 1px 1px 5px grey;

		img {
			width: 30px;
			margin-top: 3px;
		}

		.profile-picture {
			border-radius: 500px;
		}
	}
}