@import '../../styles/_variables.scss';

#createBusiness {
	margin-top: 70px;
	margin-bottom: 100px;

	h1 {
		font-size: 30px;
		text-align: center;
	}
	button {
		background-color: transparent;
		border: none;
		margin-left: 20px;
		#backArrow {
			transform: rotate(90deg);
			width: 25px;
		}
	}


	.join {
		font-weight: bolder;
	}

	.srv-validation-message {
		margin-top: 3px;
		color: red;
		font-size: 1.2rem;
	}

	.photoUpload {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;

		.upload-container {
			display: flex;
			flex-direction: column;

			label {
				background-image: url('../../styles/assets/upload.png');
				background-size: 80px 80px;
				background-repeat: no-repeat;
				background-position: center;
				height: 80px;
				width: 80px;
				margin: auto;

				input {
					display: none;
				}
			}

			.hideUploadImage {
				display: none;
			}

		}

		h6 {
			font-size: 12px;
		}
	}

	.photoUploadButton {
		background-color: black;
		color: white;
		border-radius: 500px;
		display: grid;
		place-items: center;
	}

	.button {
		background-color: black;
		color: white;
	}

	form {
		position: relative;
		text-align: left;
		padding: 0px 20px;
		
		h1{
			margin: 20px;
		}

		.business-label {
			display: block;
			margin-top: 25px;
			margin-bottom: 3px;
			font-size: 20px;
		}

		.business-input {
			border: none;
			border: 2px solid grey;
			width: 100%;
			font-size: 1.2rem;
			background-color: transparent;
			height: 55px;
			padding-left: 10px;

		}

		.option-select {
			color: lightgray;
		}

		textarea {
			height: 150px;
			resize: vertical;
			border: none;
			border: 2px solid grey;
			width: 100%;
			font-size: 1.2rem;
			background-color: transparent;
			padding: 10px;
		}

		button {
			width: 60%;
			background-color: $brand-primary;
			border: none;
			margin: 20px 0px;
			padding: 10px;
		}

	}
	.address-container {
		.autocomplete-dropdown-container {
			width: 100%;
			text-align: center;
			margin:  -1px auto;
			border-left: 1px solid rgba(239,95,36,1);
			border-right: 1px solid rgba(239,95,36,1);
			border-bottom: 1px solid rgba(239,95,36,1);

		}
	}

	.suggestions-container {
		position: relative;
		z-index: 3;
	}


	.name-photo-section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		margin: auto;
		
		.name-select-container {
			width: 100%;
		}
		input {
			width: 90%;
			background-color: transparent;
		}

		select {
			width: 90%;
		}
	}

	.feature-photos-container{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 90%;
		margin: auto;
		.upload-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 110px;

			label {
				background-image: url('../../styles/assets/upload.png');
				background-size: 80px 80px;
				background-repeat: no-repeat;
				background-position: center;
				height: 80px;
				width: 80px;
				margin: auto;

				input {
					display: none;
				}
			}

			.hideUploadImage {
				display: none;
			}

		}
	}
}