* {
    box-sizing: border-box;
}
.timeLine {

}

.tlPage {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;
    height: 90vh;
}

.comments {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}

.commentBox {
    display: grid;
    grid-row: auto;
    grid-gap: 10px;
    overflow-y: hidden;
    width: 90%;
}

.commentInfo {
    width: 100%;
    background-color: #0069ed;
    padding: 10px;
    border-radius: 20px;
    display: grid;
    grid-gap: 10px;
}

.input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.219);
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 3px 7px;
}

.addContent {
    width: 100%;
    display: grid;
    place-items: center;
}

.profilePic {
    border-radius: 50%;
    height: 100px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.button {
    display: grid;
    place-items: center;
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

form {
    width: 80%;
}