* {
    box-sizing: border-box;
}
.timeLine {

}

.postsPage {
    display: grid;
    height: 100%;
}

.post{
    width: 100%;
    display: grid;
    place-items: center;
}

.allPosts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    place-items: center;
    width: 100%;
}

.postInfo {
    width: 90%;
    background-color:#26282b;
    box-shadow: 6px 6px 14px -9px rgba(0, 0, 0, 0.2),
    -8px -8px 18px -9px rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 15px;
    border: 8ox solid#26282b;
}

.input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.219);
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 3px 7px;
}

.addContent {
    width: 100%;
    display: grid;
    place-items: center;
}

.profilePic {
    border-radius: 50%;
    height: 100px;
}

.buttons {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.button {
    display: inline-block;
    text-align: center;
    margin: auto 0;
    background-color:#26282b;
    box-shadow: 6px 6px 14px -9px rgba(0, 0, 0, 0.2),
    -8px -8px 18px -9px rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: 8ox solid #26282b;
    width: 100px;
    height: 30px;
    cursor: pointer;

}

.button:active {
    border-radius: 50px;
    background: #55b9f3;
    box-shadow: inset 5px 5px 10px #51b0e7, 
                inset -5px -5px 10px #59c2ff;
}

form {
    width: 80%;
}